<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,
minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- reset.css랑 무슨 링크들이랑 script들 적어놓기 -->
<title>15_영화소식</title>
<style type="text/css">
* {
	padding: 0;
	margin: 0;
}

.mainNewsTitle {
	text-align: center;
	margin-bottom: 15px;
}

.mainNewsTitle h3 {
	font-weight: bold;
	font-size: 30px;
}

figure {
	padding-bottom: 15px;
}

.mainNews {
	width: 80%;
	margin: auto;
}

figcaption {
	font-size: 14px;
}
</style>
</head>
<body>
	<!--영화 제목-->
	<div class="mainNewsTitle clearfix">
		<h3 class="floatLeft">리뷰 | ‘짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!’…올 여름 가족
			영화로 딱!</h3>
	</div>
	<!--영화 본문-->
	<div class="mainNews" style="font-size: 20px; line-height: 28px">
		<p>‘짱구는 못말려’가 새로운 극장판으로 돌아왔다. 신작 ‘짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!’는
			코로나 19로 대다수 영화가 개봉을 미뤄, 이렇다 할 가족 영화가 부재했던 극장가에 온 가족이 함께 즐길 수 있는 반가운
			작품이다.</p>
		<figure class="image-captioned six"
			style="display: block; margin: 0 auto; height: auto; width: 600px;">
			<img alt="애니메이션 '짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠' 스틸. 사진 CJ ENM"
				id="contentsImage1"
				src="https://d3ihz389yobwks.cloudfront.net/1597795042791LbxIt.jpg"
				style="display: block; margin: 0 auto; width: 100%;" />
			<figcaption>애니메이션 '짱구는 못말려' 극장판 스틸. 사진 CJ ENM</figcaption>
		</figure>
		<p>오늘도 왁자지껄한 짱구네 가족은 호주의 어느 섬으로 늦깎이 신혼여행을 떠난다. 화목한 가족 여행을 꿈꾸며 부푼
			가슴을 안고 도착한 섬이지만, 언제나 그렇듯 짱구 가족에겐 위기가 찾아온다. 부부싸움 후 홀로 남았던 아빠가 섬의 원주민
			가면족에게 납치당한 것. 짱구 가족은 원주민과 보물을 노리는 트레저 헌터들 사이에서 아빠를 구출하기 위해 모험을 떠나기
			시작한다.</p>
		<p>애니메이션 ‘짱구는 못말려: 신혼여행 허리케인~ 사라진 아빠!’는 짱구의 27번째 극장판으로, 부제에서 알 수
			있듯 신혼여행에서 사라진 아빠를 찾기 위해 짱구 가족이 고군분투하는 이야기를 담았다. 여느 동화 속에서 성에 갇힌 공주님을
			구하러 용사가 길을 나서듯, 원주민에게 납치당한 아빠를 구하기 위해 엄마는 용감무쌍 정글을 탐험한다.</p>
		<figure class="image-captioned six"
			style="display: block; margin: 0 auto; height: auto; width: 600px;">
			<img alt="​애니메이션 '짱구는 못말려' 스틸. 사진 CJ ENM​" id="contentsImage2"
				src="https://d3ihz389yobwks.cloudfront.net/1597795150669iLIVi.jpg"
				style="display: block; margin: 0 auto; width: 100%;" />
			<figcaption>​애니메이션 '짱구는 못말려' 스틸. 사진 CJ ENM ​</figcaption>
		</figure>
		<p>‘짱구는 못말려’의 극장판은 일본에서 매년 4월 개봉하는 인기 애니메이션이다. 일본은 물론 국내에서도 두터운
			팬층을 자랑하는 짱구인 만큼, 영화는 기대 이상의 재미를 선사했다. 그저 어린아이들이나 볼 작품이라는 고정관념과 달리 영화
			속 이야기는 나름의 블랙코미디가 가득해 어른에게도 풍족한 볼거리를 제공했으며, 유쾌함 속에 가슴 따뜻한 이야기를 담아 감동을
			선사하기도 했다.</p>
		<p>물론 어린이용 애니메이션이니만큼, 특별히 대단한 스토리나 색다른 설정을 만나긴 어렵다. 일전의 극장판과 유사한
			흐름이 문득문득 비춰지기도 한다. 그럼에도 불구하고 이 27번째 극장판은 남녀노소를 가릴 것 없이 즐거운 추억을 선사할 수
			있는 훌륭한 가족 오락 영화다. 가볍고 부담 없는 스토리텔링과 개그 만화다운 코믹함, 의외의 감동은 물론, 다소 무거울 수
			있는 소재를 짱구와 함께 풀어내 친숙하기까지 하다.</p>
		<p>믿고 보는 ‘짱구는 못말려’의 새로운 극장판이다. 온 가족이 모여 즐길 수 있는 작품이 부재한 극장가에 짱구의
			복귀는 반가운 소식이다.</p>
		<p>개봉: 8월 20일/관람등급: 전체관람가/출연: 박영남(짱구), 김환진(짱구 아빠), 강희선(짱구 엄마),
			여민정(짱아), 정유미(흰둥이)/감독: 하시모토 마사카즈/수입: CJENM/ 배급: CJ엔터테인먼트/러닝타임:
			100분/별점: ★★☆</p>
	</div>
</body>
</html>