<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,
minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- reset.css랑 무슨 링크들이랑 script들 적어놓기 -->
<title>15_영화소식</title>
<style type="text/css">
* {
	padding: 0;
	margin: 0;
}

.mainNewsTitle {
	text-align: center;
	margin-bottom: 15px;
}

.mainNewsTitle h3 {
	font-weight: bold;
	font-size: 30px;
}

figure {
	padding-bottom: 15px;
}

.mainNews {
	width: 80%;
	margin: auto;
}

figcaption {
	font-size: 14px;
}
</style>
</head>
<body>
	<!--영화 제목-->
	<div class="mainNewsTitle clearfix">
		<h3 class="floatLeft">맥스 Pick | 김시아부터 박소이까지 충무로 휩쓰는 대세 아역배우들</h3>
	</div>
	<!--영화 본문-->
	<div class="mainNews" style="font-size: 20px; line-height: 28px">
		<p>코로나 19로 암운이 드리운 영화계지만, 장래만은 밝을 듯하다. 어린 나이임에도 출중한
			연기력으로 무장한 아역배우들이 대거 등장해 기대감을 안겼다. 최근 개봉 소식을 알린 ‘다만 악에서 구하소서’에서 황정민의
			딸로 출연해 시선을 사로잡았던 박소이를 비롯해 훗날을 기대하게 하는 충무로 대세 아역배우들을 살펴봤다.</p>
		<p>
			<strong>#김시아-‘백두산’·’클로젯’ </strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 ‘백두산’ 스틸. 사진 CJ엔터테인먼트" id="contentsImage1"
				src="https://d3ihz389yobwks.cloudfront.net/1597433031104903955697694700.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 ‘백두산’ 스틸. 사진 CJ엔터테인먼트</figcaption>
		</figure>
		<p>김시아는 지난해 12월 개봉한 영화 ‘백두산’에서 리준평(이병헌)의 딸로 등장해 짧지만 강렬한 인상을 남기며
			관객의 시선을 사로잡았다. 이병헌 역시 김시아에 대해 극찬을 아끼지 않았다. 그는 “(김시아) 어머니한테 진짜 훌륭한 배우가
			탄생할 것 같다고, 미리 축하 드린다고 말했다”고 밝혔다. 김시아는 2018년 영화 ‘미쓰백’으로 데뷔한 아역배우다. 극 중
			아동학대에서 탈출하려는 지은을 연기했다. 그는 윤가은 감독 ‘우리집’(2019)에서 주인공 유미를, ‘백두산’에 이어
			하정우와 다시 한번 함께한 ‘클로젯’에서 이야기의 열쇠를 쥐고 있는 명진을 연기하기도 했다.</p>
		<p>
			<strong>#이지원-‘히트맨’ </strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '히트맨' 스틸. 사진 롯데엔터테인먼트" id="contentsImage2"
				src="https://d3ihz389yobwks.cloudfront.net/1597432464024903388618617200.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '히트맨' 스틸. 사진 롯데엔터테인먼트</figcaption>
		</figure>
		<p>2018년 드라마 ‘SKY 캐슬’에서 잔망스러운 사춘기 소녀 강예빈을 연기해 얼굴을 알린 아역배우 이지원은 올해
			초 영화 ‘히트맨’을 통해 다시 한번 대중과 만났다. 이지원은 극 중 전직 비밀요원 준(권상우)의 의젓한 딸 가영을
			연기했다. 영화 ‘개를 훔치는 완벽한 방법’, ‘1급 기밀’ 등에 출연해 능수능란한 연기력으로 충무로를 사로잡은 그는
			‘히트맨’에서도 탁월한 연기력을 자랑하며 관객에게 즐거운 추억을 선사했다.</p>
		<p>
			<strong>#김아송-‘나는보리’ </strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '나는보리' 스틸. 사진 영화사 진진" id="contentsImage3"
				src="https://d3ihz389yobwks.cloudfront.net/1597433031160903955754836700.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '나는보리' 스틸. 사진 영화사 진진</figcaption>
		</figure>
		<p>지난해 2월 개봉한 ‘항거:유관순 이야기’에서 어린 유관순으로 등장해 시선을 사로잡았던 아역배우 김아송은 올해
			영화 ‘나는보리’로 다시 한번 자신의 재능을 뽐냈다. 김아송은 극 중 소리를 듣지 못하는 가족 사이에서 유일하게 들을 수
			있는 열한 살 보리를 연기했다. 그는 화목한 가족 사이에 있지만, 홀로 소리를 들을 수 있어 오히려 외로움을 느끼는 보리의
			마음을 유려하게 표현해 박수를 불렀다.</p>
		<p>
			<strong>#이레-‘반도’ </strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '반도' 스틸. 사진 NEW" id="contentsImage4"
				src="https://d3ihz389yobwks.cloudfront.net/1597432969858903894452378800.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '반도' 스틸. 사진 NEW</figcaption>
		</figure>
		<p>이준익 감독 작품 ‘소원’(2013)으로 얼굴을 알리기 시작한 아역배우 이레는 연상호 감독의 신작 ‘반도’에
			출연해 영화의 중심을 차지했다. 그는 극 중 생존을 위해 운전대를 잡은 캐릭터 준이를 연기해 화려한 카체이싱 장면을
			이끌어갔다. ‘부산행’에 마동석이 있다면 ‘반도’에는 이레가 있다는 말이 들릴 만큼, 그의 역할은 ‘반도’에서 절대적이다.
			연상호 감독은 이레에 대해 “많은 것을 가진 친구”라며 “워낙 연기를 잘한다. 장기적으로 봤을 때 크게 될 배우다. 친한
			관계를 유지해야겠다 싶다”고 칭찬을 아끼지 않았다.</p>
		<p>
			<strong>#최정운-‘남매의 여름밤’ </strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '남매의 여름밤' 스틸. 사진 그린나래미디어" id="contentsImage5"
				src="https://d3ihz389yobwks.cloudfront.net/1597433020060903944654157200.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '남매의 여름밤' 스틸. 사진 그린나래미디어</figcaption>
		</figure>
		<p>영화 ‘남매의 여름밤’을 통해 장편 데뷔를 알린 아역배우 최정운 역시 주목할만한 신예 아역배우다. ‘남매의
			여름밤’은 여름 방학 동안 아빠와 함께 할아버지 집에서 지내게 된 남매의 가족 이야기를 담은 작품으로, 최정운은 극 중
			겉으로 내색하지 않지만, 고민이 많은 소녀 옥주를 연기했다. 특별한 사건사고가 없어 오롯이 캐릭터와 배우의 힘으로 끌고 가야
			했던 영화에서 최정운은 사춘기 소녀의 섬세한 심경을 유려하게 표현해 감탄을 자아냈다.</p>
		<p>
			<strong>#박소이-‘호텔 레이크’·’바람의 언덕’·’다만 악에서 구하소서’·‘담보’ </strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '담보' 스틸. 사진 CJ엔터테인먼트" id="contentsImage6"
				src="https://d3ihz389yobwks.cloudfront.net/1597433031244903955838574000.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '담보' 스틸. 사진 CJ엔터테인먼트</figcaption>
		</figure>
		<p>박소이는 올해 가장 바쁜 활동을 이어가고 있는 아역배우다. 전설의 고향을 연상시키는 듯한 공포영화 ‘호텔
			레이크’를 비롯해, ‘들꽃’ 3부작을 연출한 박석영 감독의 신작 ‘바람의 언덕’, 황정민, 이정재의 조합으로 화제를 모은
			텐트폴 영화 ‘다만 악에서 구하소서’까지 벌써 세 편이나 되는 작품에 출연해 얼굴을 알렸다.</p>
		<p>박소이는 오는 9월 개봉을 예고한 영화 ‘담보’에 출연하기도 했다. 성동일, 하지원, 김희원과 함께 호흡을 맞춘
			작품으로, 박소이는 극 중 엄마의 빛과 개인적인 사정 때문에 얼떨결에 두석(성동일)과 종배(김희원)에게 맡겨진 9살 담보
			승이를 연기했다. 특유의 순수하고 해맑은 눈빛으로 언제나 관객의 흐뭇한 미소를 자아냈던 박소이가 다시 한번 관객의 마음을
			무장해제시킬 수 있을지 호기심을 부른다.</p>
		<p></p>
	</div>
</body>
</html>