<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,
minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- reset.css랑 무슨 링크들이랑 script들 적어놓기 -->
<title>15_영화소식</title>
<style type="text/css">
* {
	padding: 0;
	margin: 0;
}

.mainNewsTitle {
	text-align: center;
	margin-bottom: 15px;
}

.mainNewsTitle h3 {
	font-weight: bold;
	font-size: 30px;
}

figure {
	padding-bottom: 15px;
}

.mainNews {
	width: 80%;
	margin: auto;
}

figcaption {
	font-size: 14px;
}
</style>
</head>
<body>
	<!--영화 제목-->
	<div class="mainNewsTitle clearfix">
		<h3 class="floatLeft">맥스 비하인드 | '강철비2: 정상회담' 대한민국 대통령의 비밀</h3>
	</div>
	<!--영화 본문-->
	<div class="mainNews" style="font-size: 20px; line-height: 28px">
		<p>영화 '강철비2: 정상회담'에서 주변 인물을 가장 많이 보여준 캐릭터는 대한민국 대통령
			한경재다. 주변에 많은 인물이 있지만 정작 한경재에 대한 정보는 많지 않다. 그래서 알아봤다. 대한민국 대통령 한경재의
			비밀을.</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '강철비2: 정상회담' 스틸. 사진 롯데 엔터테인먼트" id="contentsImage1"
				src="https://d3ihz389yobwks.cloudfront.net/1597433021861903946455842800.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '강철비2: 정상회담' 스틸. 사진 롯데 엔터테인먼트</figcaption>
		</figure>
		<p>대통령은 한 개인이라는 인식이 강하지만 사실은 헌법 기관이다. 그 느낌을 희석 시키기 위해 탄생한 인물이 바로
			영부인(염정아)이다. 영부인을 대하는 모습을 보면 부인을 존중하고 일반적인 가장의 느낌을 많이 준다.</p>
		<p>업무를 마치고 관사로 돌아와 홀로 술을 한잔 하는 모습, 영부인과 대화를 나누는 모습 등은 한경재가 기본적으로
			지닌 참고 인내하고, 본인이 가려는 방향에 대해 노심초사하는 모습을 암시한다. 가정 안에서, 아내, 딸 앞에서 일관된 그의
			모습을 보여주면, 공적으로도 같은 느낌을 이어갈 수 있기 때문이다.</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '강철비2: 정상회담' 스틸. 사진 롯데 엔터테인먼트" id="contentsImage2"
				src="https://d3ihz389yobwks.cloudfront.net/1597433021695903946289068800.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '강철비2: 정상회담' 스틸. 사진 롯데 엔터테인먼트</figcaption>
		</figure>
		<p>한경재가 식사를 하기 위해 일반 식당을 가는 장면도 인상깊다. 식당에서 식사를 하던 시민들은 한경재의 등장에 깜짝
			놀라며 "대통령이다!"를 연발한다. 훈훈한 미소와 함께 손을 흔드는 한경재의 모습과 시민들의 반응으로 미루어 볼 때 한경재는
			상당히 인기가 많은 대통령으로 예상된다.</p>
		<p>이에 대해 양우석 감독은 "경제 성장을 5% 정도 올린 대통령이라고 생각해서 한경재라는 이름을 붙였다. '한 경제
			하는 대통령 한경재'라는 의미다. 대한민국 대통령 지지율은 경제 성장과 비례해서 그렇게 설정했다"고 설명했다.</p>
		<p>마지막 비밀은 '강철비2: 정상회담' 속에 한경재는 어디서든 볼 수 있다는 것이다. 실제로 영화를 보면 한경재는
			앞이나 뒤, 옆 등 다양한 각도로 등장한다. 곽도원이 연기한 북 호위총국장의 단독샷을 제외한 대부분의 장면에서 정우성을 찾을
			수 있다.</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '강철비2: 정상회담' 스틸. 사진 롯데 엔터테인먼트" id="contentsImage3"
				src="https://d3ihz389yobwks.cloudfront.net/1597433000713903925307479000.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '강철비2: 정상회담' 스틸. 사진 롯데 엔터테인먼트</figcaption>
		</figure>
		<p>양우석 감독이 "모든 카메라에 걸리는 캐릭터는 처음이지 싶다"고 말할 정도로 한경재는 어디에나 존재했다. 역할의
			특성상 심리적으로 힘들었겠지만, 모든 장면에 걸리는 이유로 물리적으로도 힘든 캐릭터임을 입증했다.</p>
		<p>한편 '강철비2: 정상회담'은 현재 극장 상영 중이다.</p>
		<p></p>
		<p></p>
	</div>
</body>
</html>