<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,
minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- reset.css랑 무슨 링크들이랑 script들 적어놓기 -->
<title>15_영화소식</title>
<style type="text/css">
* {
	padding: 0;
	margin: 0;
}

.mainNewsTitle {
	text-align: center;
	margin-bottom: 15px;
}

.mainNewsTitle h3 {
	font-weight: bold;
	font-size: 30px;
}

figure {
	padding-bottom: 15px;
}

.mainNews {
	width: 80%;
	margin: auto;
}
figcaption {
	font-size: 14px;
}
</style>
</head>
<body>
	<!--영화 제목-->
	<div class="mainNewsTitle clearfix">
		<h3 class="floatLeft">맥스 Pick | 꼭 기억해야 할 그들의 이야기, 위안부①</h3>
	</div>
	<!--영화 본문-->
	<div class="mainNews" style="font-size: 20px; line-height: 28px">
		<p>8월 14일은 일본군 위안부 문제를 국내외에 알리고 일본군 위안부 피해자를 기리기
			위하여 제정된 국가기념일이다. 2017년 12월 일제하 일본군 위안부 피해자에 대한 보호·지원 및 기념사업 등에 관한 법률
			일부개정안이 통과되면서, 이전까지 민간에서 진행돼 오던 '일본군 위안부 피해자 기림의 날'이 국가 기념일로 지정됐다.</p>
		<p>이어진 8월 15일은 광복절이다. 1945년 8월 15일 우리나라가 일본으로부터 광복된 것을 기념하고, 1948년
			8월 15일 대한민국 정부수립을 경축하는 날이다. 1949년 10월 1일 시행됐다.</p>
		<p>일본군 위안부 피해자 기림의 날과 광복절, 두 날을 기념하며, 절대 잊어서는 안될, 그리고 꼭 기억해야 할 그들의
			이야기를 담은 작품들을 살펴봤다.</p>
		<p>
			<strong>◆ '눈길'</strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '눈길' 포스터. 사진 KBS" id="contentsImage1"
				src="https://d3ihz389yobwks.cloudfront.net/1597433028007903952601287800.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '눈길' 포스터. 사진 KBS</figcaption>
		</figure>
		<p>영화 '눈길'은 지난 2017년 3월 1일 개봉한 영화로 1944년 일제강점기 말, 가난하지만 씩씩한 종분과
			부잣집 막내에 공부까지 잘하는 영애, 같은 마을에서 태어났지만 전혀 다른 운명을 타고난 두 소녀의 이야기를 그렸다. 일본으로
			유학을 떠나는 영애를 부러워하던 종분은 어느날 갑자기 집에 들이닥친 일본군들의 손에 이끌려 낯선 열차에 몸을 싣는다. 그
			열차에는 자신 또래 아이들이 가득 차 있었고, 그때 일본으로 유학을 떠난 줄 알았던 영애가 열차로 던져진다.</p>
		<p>이나정 감독은 위안부 피해자들의 이야기를 단순히 보여주는 데서 그치지 않고, 그들의 아픔을 관객과 함께 느끼고
			위로하고자 하는 마음으로 만들었다. 함께 아파하고 서로 살아낼 수 있도록 손을 내밀어 외롭고 힘든 순간을 견뎌낸 종분과
			영애의 마음을 그대로 전달하고자 했다. '눈길'은 일본군 위안부 피해자 문제는 제자리걸음 중이고, 여전히 치유와 위안이
			필요한 시대, 위로하고 위로 받으며 버텼던 소녀들의 이야기로 감동을 전한다.</p>
		<p>배우 김영옥과 김향기가 현재 종분과 소녀 종분을 연기했고, 김새론이 소녀 영애를 연기했다. 이밖에도 조수향,
			서영주, 장영남, 이승연, 정진, 김미향, 이주우, 장대웅 등이 출연했다.</p>
		<p>
			<strong>◆ '귀향' </strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '귀향' 포스터. 사진 제이오엔터테인먼트" id="contentsImage2"
				src="https://d3ihz389yobwks.cloudfront.net/1597433027885903952479929600.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '귀향' 포스터. 사진 제이오엔터테인먼트</figcaption>
		</figure>
		<p>조정래 감독의 작품 '귀향'은 일본군 위안부 피해자 실화를 바탕으로 한 이야기다. 1943년, 천진난만한 열네 살
			정민은 영문도 모른 채 일본군 손에 이끌려 가족의 품을 떠난다. 정민과 함께 끌려온 영희, 그리고 수많은 아이들과 함께
			기차에 실려 알 수 없는 곳으로 향한다. 제2차 세계대전, 차디찬 전장 한가운데 버려진 정민과 아이들을 맞이한 것은 일본군만
			가득한 끔찍한 고통과 아픔의 현장이었다.</p>
		<p>이 작품은 대한민국의 가장 아픈 역사인 일본군 위안부 피해자들의 증언을 토대로 영화화 된 극영화다. 1991년
			8월 14일, 고 김학순 씨의 첫 증언 이후 수십년의 세월이 흘렀지만 강제로 끌려가던 그날과 위안소에서 겪은 모진 일들은
			여전히 할머니들의 가슴속에 아물지 않는 흉터로 남아있다. 조정래 감독은 일본군 위안부 피해 여성의 삶과 그들이 겪은 고통을
			영상으로 기록해 문화적 증거물로서의 역할에 기여하고자 하는 진심에서 출발했다.</p>
		<p>
			<strong>◆ '아이 캔 스피크'</strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '아이 캔 스피크' 포스터. 사진 영화사 시선" id="contentsImage3"
				src="https://d3ihz389yobwks.cloudfront.net/1597433028118903952711934900.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '아이 캔 스피크' 포스터. 사진 영화사 시선</figcaption>
		</figure>
		<p>이 작품은 민원 건수만 무려 8000건, 구청 블랙리스트 1호 도깨비 할매 옥분과 오직 원칙과 절차가 답이라고
			믿는 9급 공무원 민재, 결코 어울릴 것 같지 않았던 두 사람이 영어를 통해 운명적으로 엮이게 되면서 벌어지는 이야기를 그린
			작품이다. 영화는 휴먼 코미디처럼 시작하지만 사실은 옥분은 비밀을 품은 할머니였다. 바로 일본군 위안부 피해자 중
			한명이었다.</p>
		<p>'아이 캔 스피크'는 기획부터 제작까지 총 4년이 걸린 작품으로 CJ 문화재단 일본군 위안부 피해자 시나리오
			기획안 공모전 당선작이다. 민원왕인 할머니를 통해 분노와 슬픔을 전제로 하는 일본군 위안부 문제에 대한 접근 방식을 발랄하게
			비틀었다는 호평을 받기도 했다. 영화의 발판은 2007년 미 하원 의회 공개 청문회의 이야기다. 일본군 위안부 피해자
			할머니의 현재를 조명, 용기 있게 전 세계 앞에서 증언한 그녀의 진취적인 삶의 태도를 통해 지금의 우리를 돌아보고 앞으로
			나아가게 하는 힘을 전한다. 배우 나문희, 이제훈, 박철민, 염혜란, 이상희, 이지훈 등이 출연했다.</p>
		<p>
			<strong>◆ '허스토리'</strong>
		</p>
		<figure class="image-captioned"
			style="display: block; margin: 0 auto; height: auto; width: 100%;">
			<img alt="영화 '허스토리' 포스터. 사진 수필름" id="contentsImage4"
				src="https://d3ihz389yobwks.cloudfront.net/1597433028196903952791121800.jpg"
				style="display: block; margin: 0 auto;" width="100%" />
			<figcaption>영화 '허스토리' 포스터. 사진 수필름</figcaption>
		</figure>
		<p>영화 '허스토리'는 1992년부터 1998년까지 6년 동안 오직 본인들만의 노력으로 일본 정부에 당당히 맞선
			할머니들과 그들을 위해 함께 싸웠던 사람들의 뜨거운 이야기를 담았다. 제71회 칸 국제영화에서 처음으로 공개됐으며, 당시
			객석을 가득 메워 전세계 바이어들의 높은 관심을 입증하기도 했다. 오늘날 많은 사람들에게 알려지지 않은 관부 재판 실화를
			바탕으로, 영화사상 최초로 스크린에 옮긴 작품이다.</p>
		<p>연출을 맡은 민규동 감독은 치열했던 6년의 재판과 그 속에서 수많은 시련과 역경을 마주했던 주인공들의 이야기를
			여성의 시선에서 담담하게 그려냈다. 배우 김희애, 김해숙, 예수정, 문숙, 이용녀 등이 출연했다.</p>
		<p></p>
		<p></p>
	</div>
</body>
</html>