<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="BookingListMapper">
	<resultMap id="bookingListMap"
	type="study.spring.cinephile.model.BookingList">
		<result property="bookingid" column="bookingid"/>
		<result property="title" column="title"/>
		<result property="poster" column="poster"/>
		<result property="lookdate" column="lookdate"/>
		<result property="branch" column="branch"/>
		<result property="peonum" column="peonum"/>
		<result property="seatno" column="seatno"/>
	</resultMap>
	
	<select id="selectList"
	parameterType="study.spring.cinephile.model.BookingList"
	resultMap="bookingListMap">
	
	select title,poster,lookdate,branch,peonum,seatno
	from booking_list
	order by lookdate desc
	<if test="listCount>0">
		limit #{offset},#{listCount}
	</if>
	</select>
	
	<select id="selectCountAll"
	parameterType="study.spring.cinephile.model.BookingList"
	resultType="int">
	select count(*) from booking_list;
	</select>
</mapper>