<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieMapper">

<resultMap id="movieMap" type="study.spring.cinephile.model.Movie">
<!-- beans의 멤버변수(property)이름과 대상 테이블의 컬럼을 연결한다. -->
	<result property="movie_id" column="movie_id"/>
	<result property="opening_date" column="opening_date"/>
	<result property="title" column="title"/>
	<result property="synopsis" column="synopsis"/>
	<result property="poster_link" column="poster_link"/>
	<result property="accumul_audience" column="accumul_audience"/>
	<result property="today_audience" column="today_audience"/>
	<result property="age_limit" column="age_limit"/>
	<result property="like_count" column="like_count"/>
	<result property="star_info" column="star_info"/>
	<result property="movie_nation" column="movie_nation"/>
	<result property="movie_actor" column="movie_actor"/>
	<result property="movie_director" column="movie_director"/>
	<result property="movie_made_year" column="movie_made_year"/>
	<result property="movie_booking" column="movie_booking"/>
	<result property="movie_genre" column="movie_genre"/>
</resultMap>

<!-- 단일행조회기능 -->

<!-- 다중행조회기능 -->

<!-- 데이터 수 조회기능 -->

<!-- 데이터 저장 기능 -->

<!-- 데이터 삭제 기능 -->

<!-- 데이터 갱신 기능 -->
</mapper>