<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="MyPageQnaMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시 -->
	<resultMap id="myPageQnaMap" type="study.spring.cinephile.model.MyPageQna">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결 -->
		<result property="qna_id" 				column="qna_id" />
		<result property="members_id" 		column="members_id" />
		<result property="qna_title" 			column="qna_title" />
		<result property="qna_content" 		column="qna_content" />
		<result property="file_img" 			column="file_img" />
		<result property="user_name" 		column="user_name" />
		<result property="birthdate" 			column="birthdate" />
		<result property="tel" 					column="tel" />
		<result property="email" 				column="email" />
		<result property="reg_date" 			column="reg_date" />
		<result property="answer_check" 	column="answer_check" />
		<result property="answer_content" column="answer_content" />
		<result property="answer_date" 		column="answer_date" />
		<result property="no" column="no"/>
	</resultMap>
	
	<select id="selectList" parameterType="study.spring.cinephile.model.MyPageQna" resultMap="myPageQnaMap">
	select row_number() over(order by qna_id asc) as 'no',qna_id,members_id,qna_title,qna_content,reg_date,answer_check,answer_content,answer_date
	from (select row_number() over(order by qna_id asc) as 'no',qna_id,members_id,qna_title,qna_content,reg_date,answer_check,answer_content,answer_date from qna) as full
	<where>
	members_id=#{members_id}
	</where>
	
	order by qna_id desc
	
	<if test="listCount>0">
		limit #{offset},#{listCount}
	</if>
	</select>
	
	<select id="selectCountAll" parameterType="study.spring.cinephile.model.MyPageQna" resultType="int">
	select count(*) from qna
	<where>
	members_id=#{members_id}
	</where>
	</select>
	
	<select id="selectItem" parameterType="study.spring.cinephile.model.MyPageQna" resultMap="myPageQnaMap">
	select qna_id,members_id,qna_title,qna_content,file_img,birthdate,tel,email,reg_date,answer_check,answer_content,answer_date
	from qna
	<where>
	members_id=#{members_id} and qna_id=#{qna_id}
	</where>
	</select>

	
</mapper>