<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PasswordOkMapper">

	<resultMap id="passwordOkMap" type="study.spring.cinephile.model.PasswordOk">
		<result property="members_id" column="members_id"/>
		<result property="user_pw" column="user_pw"/>
	</resultMap>
		
	<select id="selectCountAll"
				parameterType="study.spring.cinephile.model.PasswordOk"
				resultType="int">
		select count(*) from members
		
		<where>
			members_id=#{members_id} and user_pw=md5(#{user_pw})
		</where>
	</select>

</mapper>