@charset "utf-8";

#content {
    width: auto;
    min-height: 850px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#body {
    width: 900px;
    min-height: 1300px;
    float:left;
}

.far{
	font-size:40px;	
	color:#897944;
}

.sidebar {
    width: 250px;
    min-height: 1300px;
    float: left;
    border-right: 1px solid black;
    margin-right: 20px;
    margin-top:-20px;
    margin-left:-20px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.sidemenu {
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 35px;
}

.sidemenu ul {
    width: 100%;
}

.sidemenu ul li {
    border-top: 1px solid #ddd;
}

.sidemenu ul li a {
    display: block;
    padding: 0px 10px;
    width: auto;
    color: #222;
    line-height: 40px;
}

.sidemenu ul li a:hover {
    	background-color: #eee;
    }

.bodytop {
    margin-top: 50px;
    padding-bottom: 50px;
}

.bodylist {
    height: 1100px;
}

.listarea {
    width: auto;
    height: 200px;
    padding-top: 1px;
    position: relative;
    padding-left:20px;
    border:1px solid #c9c9c9;
    border-right:0;
    border-left:0;
}

.listarea:hover{
	background-color:#f0f0f0;
}

.movieimg{
	width: 15%;
    float: left;
    margin-right: 30px;
    margin-top:-10px;
    position:relative;
}
.listarea li img {
    width: 100%;
    opacity:0.9;
    border-radius:5px;
}



.moreview{
	position:absolute;
	top:45%;
	left:16%;
	color:#ebebeb;
	border:1px solid #ebebeb;
	border-radius:2px;
	padding:2px 12px;
}


.listarea .title a{
    color:#292929;
    font-size:20px;
}

.bookdate h4 {
    line-height: 3.0;
    color:green;
    font-size:15px;
}

.starttime h4{
	font-size:15px;
}

.theaterpeople h4{
	color:#4a89ff;
	font-size:15px;
}

.listarea .btn{   
	float: right;
    position: absolute;
    right: 63px;
    top: 75px;
    width: 87px;
    height: 41px;
    background-color:#6aba52;
    color:white;
}

.pagination {
    margin-top: -25px;
    margin-left: 375px;
}