@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 글씨체 나눔고딕 */
#content {
	font-family: 'Nanum Gothic', sans-serif;
}

/* 예매하기 박스 전체 */
.booking_page {
	width: 100%;
	height: 900px;
	padding-top: 50px;
	padding-left: 5px;
}

/* 예매단계 안내박스 */
.booking_stage {	
	width: 80px;
	float: left;
	border-right: 1px solid white;
}

.booking_stage li {
	display: block;
	height: 200px;
	text-align: center;
	border-bottom: 1px solid black;
	padding-top: 80px;
}

.booking_stage li:hover {
	cursor: default;
}

.booking_stage li:first-child {
	border-top: 1px solid black;
}

.booking_stage li:first-child:hover {
	background-color: #4d4d4d;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.booking_stage li:nth-child(2) {
	background-color: #4d4d4d;
	color: white;
	font-weight: bold;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 인원 / 좌석 선택 영역 (우측 전체 영역) */
.booking_seats {
	width: 1110px;
	height: 800px;
	float: left;
}

/* 상단 제목 */
.booking_title {
	margin: 0;
	height: 60px;
	padding-top: 17px;
	background-color: #4d4d4d;
	text-align: center;
	font-weight: bold;
	color: white;
}

.booking_title:hover {
	cursor: default;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 선택 내역 안내 및 인원 선택 박스 */
.booking_people {
	width: 1110px;
	height: 90px;
	padding-top: 10px;
}

/* 1. 상영시간 선택 내역 안내 부분 */
.chosen_time {
	display: block;
	float: left;
	width: 200px;
	margin-left: 10px;
}

.chosen_time > .film_title {
	font-weight: bold;
}

.chosen_time > .detail {
	font-size: 12px;
}

/* 2. 인원 선택 부분 */
.choose_people {
	display: block;
	float: left;
	width: 480px;
	/* 텍스트 드래그, 선택 방지 */
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* 인원 분류 영역 3개 */
.choose_people > li {
	display: block;
	float: left;
	width: 32%;
}

.choose_people .sort_ppl {
	font-size: 15px;
	font-weight: bold;
	padding-left: 25px;
}

.choose_num {
	padding-top: 10px;
	padding-left: 35px;
}

/* - 0 + */
.choose_num > span {
	display: block;
	float: left;
	margin-left: 10px;
}

.choose_people .fas {
	font-size: 18px;
}

.choose_people .fas:hover {
	cursor: pointer;
}

/* 3. 안내 사항 부분 */
.booking_notice {
	float: left;
	width: 410px;
	font-size: 13px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 좌석 선택 박스 */
.choose_seats {
	height: 650px;
	background-color: #a1a1a1;
}

/* screen */
.screen {
	width: 70%;
	height: 30px;
	margin: auto;
	background-color: #4d4d4d;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.screen:hover {
	cursor: default;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 중반부 */
.seats_body {
	height: 490px;
	/* 텍스트 드래그, 선택 방지 */
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* 좌석 버튼 영역 */
.seat_btns {
	height: 430px;
	margin-top: 60px;
	position: absolute;
}

/* a 태그 링크 효과 삭제 */
.seat_btns > a, .seat_btns > a:link, .seat_btns > a:hover, .seat_btns > a:active, .seat_btns > a:visited {
	color: black;
	text-decoration: none;
}

/* 각 열 text */
.seat_row {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	display: block;
	position: absolute;
	width: 20px;
	height: 16px;
}

/* 좌석 버튼 (a) */
.seat_btns > a {
	position: absolute;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 좌석 종류, 결제하기 버튼 영역 */
.seats_footer {
	height: 130px;
	background-color: #808080;
}

/* 좌석 종류 안내 */
.seats_sort {
	width: 520px;
	margin-left: 30px;
	margin-top: 60px;
	float:left;
}

.seats_sort > span {
	float: left;
}

.seat_state {
	display: block;
	margin-left: 10px;
	margin-right: 20px;
	font-size: 14px;
	color: #fff;
}

/* 선택가능 */
.seat_able, a.seat_able {
	display: block;
	width: 20px;
	height: 16px;
	background: #e8e8e8;
	color: #000;
	font-size: 10px;
	text-align: center;
	border-radius: 7px 7px 2px 0px;
}

/* 선택좌석 */
.seat_selected, a.seat_selected {
	display: block;
	width: 20px;
	height: 16px;
	background: #ff3838;
	color: #000;
	font-size: 10px;
	text-align: center;
	border-radius: 7px 7px 2px 0px;
}

/* 예매완료 */
.seat_sold, a.seat_sold {
	display: block;
	width: 20px;
	height: 16px;
	background: #474747;
	color: #000;
	font-size: 10px;
	text-align: center;
	border-radius: 7px 7px 2px 0px;
	cursor: default;
}

/* 예매불가 */
.seat_unable, a.seat_unable {
	display: block;
	width: 20px;
	height: 16px;
	background: #000;
	font-size: 10px;
	text-align: center;
	border-radius: 7px 7px 2px 0px;
	cursor: default;
}

a.seat_able, a.seat_disabled, a.seat_selected {
	cursor: pointer;
}

a.seat_unable {
	cursor: not-allowed;
}

/* 장애인석 */
.seat_disabled, a.seat_disabled {
	display: block;
	width: 20px;
	height: 16px;
	background: #21612b;
	color: #000;
	font-size: 10px;
	text-align: center;
	border-radius: 7px 7px 2px 0px;
}

/* 선택 좌석, 요금 안내 영역 */
.seats_price {
	width: 430px;
	height: 130px;
	float:left;
}

/* 선택 좌석 */
.seat_info {
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

/* 총 금액 */
.price_info {
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
}


/* 결제하기 버튼 */
.go_to_next {
	width: 130px;
	height: 130px;
	display: block;
	float: right;
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	box-shadow: none;
	border: none;
	
	/* 비활성화 상태  */
	cursor: default;
	background-color: #808080;
	color: #eee;
	
}

/* 활성화 상태 */
.go_to_next.active {
	cursor: pointer;
	background-color: #4d4d4d;
	color: #fff;
}

.go_to_next:focus {
	outline: none;
}

.go_to_next.active {
	cursor: pointer;
	background-color: black;
	color: white;
	text-decoration: none;
}

.go_to_next .fas {
	font-size: 40px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* float 마감제 */
.clear {
	content: '';
	display: block;
	float: none;
	clear: both;
}