@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* 글씨체 나눔고딕 */
#content {
	font-family: 'Nanum Gothic', sans-serif;
}

/* 극장 선택 테이블 전체 */
.branch_table {
    width: 100%;
    padding-top: 30px;
    margin:auto;
}

/* 극장 선택 테이블 제목 ("지역별 극장 정보") */
.table_name {
	text-align: center;
	font-weight: 800;
}

/* 지역 선택 바 */
.provincial {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    margin-top: 30px;
    background-color: #4d4d4d;
}

.prov_list {
	display: block;
	margin-left: 15px;
	margin-bottom: 0px;
	padding-bottom: 5px;
}

/* 지역명 글씨 */
.provincial li {
    display: block;
    float:left;
    width: 90px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.provincial li:nth-child(6), .provincial li:nth-child(9), .provincial li:nth-child(10) {
	width: 120px;
}

.provincial li:hover {
    text-decoration: none;
    color:#eee;
    cursor: pointer;
}

/* 지역별 지점 선택 영역 */
.branch_list {
	position: relative;
    height: 500px;
    background-color: #eee;
    padding: 10px;
    padding-top: 15px;
}

.branch_list > ul {
    display: block;
}

/* 각 지점 버튼 */
.branch_list li {
    display: block;
    float: left;
    width: 210px;
    height: 40px;
    border-right: 1px solid black;
    margin-left: 15px;
    font-size: 15px;
}

.branch_list li:nth-child(5n) {
	border-right: none;
}

.branch_list a {
	color: black;
}

.branch_list a:hover {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.branch_list a:visited, .branch_list a:active, .branch_list a:link {
	text-decoration: none;
	color: black;
}

/* 각 지역 탭 영역 */

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* "지점 상제 정보" */
.branch_infottl {
	text-align: center;
	font-weight: bold;
}

/* 극장 상세 정보 박스 전체 */
.branch_info {
    width: 80%;
    margin: auto;
    background-color: #eee;
    border: 1px solid #4d4d4d;
    margin-top: 20px;
}

/* 상세 정보 박스 head 영역 */

.branch_head > h2, .branch_head > form {
    display: inline-block;
}

.branch_head > button {
	font-size: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
}

/* 지점명 */
.branch_name {
    font-weight: bold;
    padding-left: 15px;
}

/* 상세 정보 박스 body 영역 */
/* 텍스트, 로고 영역 */
.branch_body {
	border: 0;
}

.info_text {
    width: 60%;
    float: left;
}

.info_img {
    width: 30%;
	float: right;
}

.info_img img {
    display: block;
    margin: auto;
}

/* 주소, 상영관 정보 text */
.info_detail {
    margin-left: 15px;
}

.rooms, .seats {
	font-size: 13px;
}

/* 상세 정보 박스 tail 영역 */
/* 안내 팝업 영역 */
.branch_tail {
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;

}

.branch_tail > .topop {
	display: inline-block;
	margin-left: 15px;
	font-size: 15px;
}

/* 팝업 modal */
.map_info {
	width: 500px;
	margin: auto;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	color: rgb(35, 140, 250);
	font-weight: bold;
}

.kakaomap {
    width: 500px;
    height: 400px;
    margin: auto;
    position: relative;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 상영시간표 영역 */

.timetable > h1 {
	font-weight: bold;
}

.table_head {
    background-color:#eee;
}

/* 날짜 선택 일주일 */
.week_btn {
    width: 700px;
    margin:auto;
}

.week_btn a {
    display: inline-block;
    border-radius: 0;
}

.slick-list {
	width: 600px;
	display: block;
	float: left;
}

.slick-arrow {
	width: 50px;
	margin-top: 15px;
	display: block;
	float: left;
}

/* 글자색 black */
.weekday, .weekday:hover {
	color: black;
}

.weekday:hover {
	background-color: #d6d6d6;
	font-weight: bold;
}

/* 각종 버튼 효과 삭제 */
.week_btn > .btn:active, .week_btn > .btn:focus {
    box-shadow: none;
}

.slick-slide:focus, .slick-center:focus, .slick-track:focus, .slick-active:focus, .slick-current:focus {
   border: none;
   outline: none;
   box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none !important;
	box-shadow: none;
}

/* float 마감제 */
.week_btn:after {
	content: '';
	display: block;
	float:none;
	clear: both;
}

/* 관람가 / 요금 안내 */
.table_info {
    text-align: right;
}

/* 관람가 / 요금 안내 버튼 */
.table_info > .btn:active {
    box-shadow: none;
}

/* 영화 별 시간표 영역 */


.film_time > h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* 영화 시간 버튼 */
.film_time > .btn {
    width: 100px;
    margin-right: 10px;
}

.film_time a span {
    display: block;
}

.start_time {
    font-weight: bold;
    margin-bottom: 3px;
}

.film_time .seats {
    font-size: 11px;
    float:left;
    margin-right: 5px;
}

.room_no {
    font-size: 11px;
}

/* float 마감제 */
.clear {
	content: '';
	display: block;
	float: none;
	clear: both;
}