@charset "utf-8";

#content {
    width: auto;
    min-height: 850px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#body {
    width: 900px;
    min-height: 1300px;
    float:left;
}

.far{
	font-size:40px;
	color:#897944;
}

.sidebar {
    width: 250px;
    min-height: 1300px;
    float: left;
    border-right: 1px solid black;
    margin-right: 20px;
    margin-top:-20px;
    margin-left:-20px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.sidemenu {
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 35px;
}

.sidemenu ul {
    width: 100%;
}

.sidemenu ul li {
    border-top: 1px solid #ddd;
}

.sidemenu ul li a {
    display: block;
    padding: 0px 10px;
    width: auto;
    color: #222;
    line-height: 40px;
}

.sidemenu ul li a:hover {
    	background-color: #eee;
    }


.bodytop {
    margin-top: 50px;
    padding-bottom: 50px;
}

.bodylist {
    min-height:1100px;
}

.listarea {
    width: auto;
    height: 200px;
    padding-top: 1px;
    position: relative;
    padding-left:20px;
	border:0.5px solid #c9c9c9;
    border-right:0;
    border-left:0;
}

.listarea:hover{
	background-color:#f0f0f0;
}

.listarea li img {
    width: 100%;
    opacity:0.9;
    border-radius:5px;
}
.movieimg{
	width: 15%;
    float: left;
    margin-right: 30px;
    margin-top:-10px;
    position:relative;
}

.moreview{
	position:absolute;
	top:45%;
	left:16%;
	color:#ebebeb;
	border:1px solid #ebebeb;
	border-radius:2px;
	padding:2px 12px;
}
.listarea .title a{
    color:#292929;
    font-size:20px;
}

.rating h4 {
    line-height: 3.0;
    color:green;
    font-size:15px;
}

.genre h4{
	color:#4a89ff;
	font-size:14px;
}

.listarea .remove {
    float: right;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
    height: 25px;
    line-height:0;
    font-size: 25px;
    padding-left:12px;
    padding-bottom:10px;
    background:#eee;
}

.listarea .book{
	float: right;
    position: absolute;
    right: 63px;
    top: 75px;
    width: 87px;
    height: 41px;
    background-color:#ff4545;
    color:white;
    font-size:14px;
}
.pagination {
    margin-top: -25px;
    margin-left: 375px;
}

span.star-prototype,
span.star-prototype>* {
  height: 16px;
  background: url(../img/star_rate.png) 0 -16px repeat-x;
  width: 80px;
  display: inline-block;
}

span.star-prototype>* {
  background-position: 0 0;
  max-width: 80px;
  opacity:0.7;
}

.rating{
	font-size:16px;
	display:block;
	margin-bottom:25px;
	margin-top:25px;
	color:green;
}
