@charset "utf-8";

#content {
    width: auto;
    min-height: 850px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#body {
    width: 900px;
    min-height: 850px;
    float:left;
}

.fas{
	font-size:40px;
	color:#897944;
}

.sidebar {
    width: 250px;
    min-height: 850px;
    float: left;
    border-right: 1px solid black;
    margin-right: 20px;
    margin-top:-20px;
    margin-left:-20px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.sidemenu {
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 35px;
}

.sidemenu ul {
    width: 100%;
}

.sidemenu ul li {
    border-top: 1px solid #ddd;
}

.sidemenu ul li a {
    display: block;
    padding: 0px 10px;
    width: auto;
    color: #222;
    line-height: 40px;
}

.sidemenu ul li a:hover {
    background-color: #eee;
}


.bodytop {
    height: 70px;
    width: auto;
    padding: 8px;
    padding-bottom: 100px;
}

.bodytop h3 {
    color: #222;
    position: absolute;
}

.table_area {
    border-top: 1px solid #555;
    text-align: center;
}

table {
    width: 100%;
    line-height: 80%;
    margin-bottom: 40px;
}

thead {
    display: table-header-group;
    border-bottom: 2px solid #eee;
}

th {
    height: 35px;
    text-align: center;
    background-color: #f2f4f5;
    font-size: 16px;
}

td {
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid #eee;
    padding: 20px;
    font-size: 16px;
}

.pagination {
    margin-top: 8px;
    margin-left: 341px;
}

.inqbutton{
	float:right;
}

.inqbutton .btn{

	background-color:#6e6e6e;
	color:white;
}