@charset "utf-8";

#content h2 {
        margin-top: 100px;
        padding-left: 130px;
        font-size: 30px;
    }

    #lginput {
        width: auto;
        height: 600px;
        border-top: 5px solid #eee;
        border-bottom: 5px solid #eee;
        margin-bottom: 140px;
        padding-top: 180px;
    }

    #lginput .input-group {
        width: 30%;
        margin: auto;
        margin-top: 20px;
    }


    #lginput .loginpb {
        width: 30%;
        margin: auto;
        margin-top: 20px;
    }

    #lginput .fgidpw {
        padding-right: 10px;
    }

    #lginput a {
        color: grey;
        font-size: 18px
    }

    #lginput .loginbt {
        width: 30%;
        margin: auto;
        padding-right: 20px;
        margin-top: -30px;
    }

    #lginput .loginbt .btn {
        display: block;
        width: 150px;
        margin-left: 210px;
    }
    .SNSlogin{
    	width:30%;
    	border-top:1px solid #eee;
    	margin:auto;
    	margin-top:80px;
    }
    .SNSlogin > span{
    	width:auto;
    	display:block;
    	margin-top:-25px;
    	font-style:italic;
    	color:grey;
    	font-size:18px;
    } 
    
    .Kakaologin{
    	width: 100%;
    	margin:auto;
    	margin-top:20px; 
    }
    
    .Kakaologin > a:first-child{
    	width:90%;
    	margin-left:30px;
    	display:block;		
    }

    