@charset "UTF-8";

.container{

min-height:1000px;

}

li{
  list-style:none;
}

.movie-search{
	width:100%;
}

.movie-search h2{
	text-align:center;
	font-weight:bold;
	margin-top:35px;
	margin-bottom:50px;
	font-size:36px;
	
}

.movie-search h2 span{
	font-family:"Jua", sans-serif;
}
    
table{
  
  background-color:#f7f2cb;
  margin:auto;
  width:80%;
  height:300px;
}

table th {
	text-align:center;
	width:30%;
}

table tr{
	border-bottom:1px solid #fcfaeb;
}

table ul li{
	float:left;
	margin:0px;
	margin-right:8px;
}

table ul li label{
	margin-left:5px;
}

.search-button{
	text-align:center;
	margin:auto;
	margin-top:50px;
}

button{
	background:#e71a0f;
	border:1px solid #ea5b50;
	color: #eee;
	font-weight:bold;
	width:55px;
	height:30px;
}

button:nth-child(2){
	background:white;
	color:#e71a0f;
}

.search-result h4{
	margin-top:50px;
}

.label {
  border-radius: 0;
  font-weight: 300;
  font-size:13px;
}


.king-row{
    /*border: 1px solid #f6f;*/
    width:85%;
    margin:auto;
    margin-top:50px;
}

.thumbnail {
        height: 400px;
        width:250px;
        border:0;
        text-decoration:none;
                 
}

.thumbnail:hover{
	 text-decoration:none;
}

/*썸네일 내부의 이미지 크기 고정*/
.thumbnail img {
    min-height: 330px;
    width:250px;
  	
 }
 

.thumbnail .movie-text{
	text-align:center;
	text-decoration:none;
	
}

.thumbnail .movie-text h4{
	font-weight:bold;
	font-size:18px;
	color:black;
	text-decoration:none;
	
}
.king-row .movie-picture{
	width:25%;
	float:left;
	margin-top:15px;
}


 .king-row:after{
    display: block;
    content: '';
    float:none;
    clear:both;
 }
/*slidebar*/

.range-slider{
	width:50%;
	margin-bottom:-30px;
}

.range-slider output{
	font-size:25px;
	font-weight:bold;
	color:black;
}

.range-slider h4{
	text-align:center;
}

.range-slider p{
	font-size:25px;
	font-weight:bold;
}

/*사이드 바*/

.icon-bar {
  position: fixed;
  top: 50%;
  margin-right:0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right:calc(50% - 723px); /* right:calc(50% - social bar width/2) */
  border : 2px solid #222;
  border-radius : 10px;
  
 
}

@media screen and (max-width:920px){
.icon-bar {
  display: none;
  }
} 


.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 16px;
  text-decoration: none; 
  font-weight: bold;
  margin:2px;
  
}


.icon-bar a:hover {
  background-color: #edb9c3;
}

.side-boxoffice {
  background: white;
}

.side-moviesearch {
  background: white; 
}

.side-movienews {
  background: white; 
}

.side-statistics {
  background: white;
}

/*사이드바 아이콘*/
.fas, .far{
	display:block;
	font-size:50px;
	font-weight:800;
}

.king-row{
     margin-top:100px;
     min-height:300px;
    }

.king-row h4{
    text-align: center;
  }