@charset "UTF-8";

.movieNews {
	min-height: 800px;
}

.entry-title {
	font-weight: bold;
	font-size: 40px;
}

.entry-content {
	font-size: 18px;
	width: 900px;
	margin: auto;
}

p:nth-child(1) {
	text-align: center;
}

.buttonMoving {
	margin-left: 1000px;
}

figure {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

* {
	padding: 0;
	margin: 0;
}

.mainNewsTitle {
	text-align: center;
	margin-bottom: 15px;
}

.mainNewsTitle h3 {
	font-weight: bold;
	font-size: 30px;
}

figure {
	padding-bottom: 15px;
}

.mainNews {
	width: 80%;
	margin: auto;
}

figcaption {
	font-size: 14px;
}