@charset "utf-8";

#container {
        width: 705px;
        min-height: 450px;
        border: 2px solid black;
        border-radius:5px;
        margin: 10px auto;
        background-color:#fafafa;
    }

	#container .up{
		border:1px solid white;
		border-radius:5px;
		background-color:#b194c3;
		color:white;
		margin-bottom:20px;
	}
    #container .up h3 {
        text-align: center;
        font-size:20px;
        font-weight:bold;
    }
    
    #brand{
    	height:25px;
    }
    
    #region{
    	height:25px;
    }
    
    legend {
        margin-top: 30px;
        font-size:17px;
        margin-bottom:15px;
    }

    .theaterlist {
        width: auto;
    }
    
    .tag{
    	height:28px;
    	margin-bottom:10px;
    }
    
    .tags-container .tag {
    font-size: 100%;
    line-height:1.3;
	}
    
    .theaterlist .btn {
        float: right;
        margin-right: 10px;
        border: 0.5px solid #222;
    }
    
	.applbutton{
    	position:relative;
		left:37%;
		width:60px;
		height:35px;
		margin-top:10px;
		border:0px;
    }
    .outbutton{
    	position:relative;
		left:37%;
		width:60px;
		height:35px;
		margin-top:10px;
		border:0px;
    }
.pagination {
    margin-top: -25px;
    margin-left: 375px;
}

.pagination>li>a{
	padding:6px 8px;
}

.thispage{
	color:#222222;
}

.del{
	text-decoration:none;
	color:#3a3a3a;
	font-weight:900;
}