@charset "UTF-8";

.notice_title { margin-bottom: 30px; }

.faq_title { margin-bottom: 30px; }

table { width: 100%; margin-bottom: 40px; line-height: 200%; }

th { height: 35px; padding:10px; background-color: #f2f4f5; font-size: 16px; line-height: initial; border-top: 1px solid #555; border-bottom: 2px solid #eee; }    
    
td { display: table-cell; padding: 10px; font-size: 16px; border-bottom: 1px solid #eee; }
    
tr.detail_box > td { padding: 30px 20px; }
    
.detail_content { margin-bottom: 40px; }
    
.list_button { width: 100%; height: 60px; padding: 13px 0; }
    
.page_next, .page_prev {  margin-right: 10px; }
    
.fas { font-size:18px; }
    
span { margin-left: 20px; color: #000; }