@charset "utf-8";

#content {
        width: auto;
        padding-left: 110px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .welcomeimg {
        width: 900px;
        display: block;
        margin: auto;
    }
    .welcometxt{
        width:510px;
        margin:auto;
        margin-top:30px;
    }
    .welcometxt > p{
        display:inline-block;
        width:300px;
    }
    .welcometxt > button{
        display: inline-block;
        width:200px;
    }