/* Global Styles */

/* ------------------------------- */

body {
    padding-top: 100px;
    background-color: #f8f8f8;
}

@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
}

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px){ 
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

.detail_content {
	width: 1100px;
	margin: 0 auto;
}

    table {
        width: 100%;
        margin-bottom: 40px;
        line-height: 200%;
    }
    
    
    th {
        height: 35px;
        padding-left: 10px;
        background-color: #f2f4f5;
        font-size: 16px;
        line-height: initial;
        border-top: 1px solid #555;
        border-bottom: 2px solid #eee;
    }    
    
    td {
        display: table-cell;
        padding: 20px;
        font-size: 16px;
        border-bottom: 1px solid #eee;
    }
    
    tr.detail_box > td {
    	padding: 30px 10px;
    }
    
    .list_button {
   		width: 100%;
   		height: 60px;
   		padding: 13px 80px;
    }
    
    .page_next,
    .page_prev {
        margin-right: 10px;
    }
    
    .fas {
    	font-size:18px;
    }
    
    span {
    	margin-left: 20px;
        color: #000;
    }
    
    .page-header {
    	padding-bottom: 20px;
    }
    
    .btn {
    margin-left:20px;
   	}