@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 글씨체 나눔고딕 */
#content {
	font-family: 'Nanum Gothic', sans-serif;
}

/* 예매하기 박스 전체 */
.booking_page {
	width: 100%;
	height: 900px;
	padding-top: 50px;
	padding-left: 5px;
}

/* 예매단계 안내박스 */
.booking_stage {	
	width: 80px;
	float: left;
	border-right: 1px solid white;
}

.booking_stage li {
	display: block;
	height: 200px;
	text-align: center;
	border-bottom: 1px solid black;
	padding-top: 80px;
}

.booking_stage li:first-child {
	border-top: 1px solid black;
}

.booking_stage li:nth-child(3) {
	background-color:#4d4d4d;
	color: white;
	font-weight: bold;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 인원 / 좌석 선택 영역 */
.booking_seats {
	width: 1110px;
	height: 800px;
	float: left;
	border: 1px solid black;
}

/* 상단 제목 */
.booking_title {
	margin: 0;
	height: 60px;
	padding-top: 17px;
	background-color: #4d4d4d;
	text-align: center;
	font-weight: bold;
	color: white;
}




/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* float 마감제 */
.clear {
	content: '';
	display: block;
	float: none;
	clear: both;
}