@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 글씨체 나눔고딕 */
#content {
	font-family: 'Nanum Gothic', sans-serif;
}

/* 예매하기 박스 전체 */
.booking_page {
	width: 100%;
	height: 900px;
	padding-top: 50px;
	padding-left: 5px;
}

/* 예매단계 안내박스 */
.booking_stage {	
	width: 80px;
	float: left;
	border-right: 1px solid white;
}

.booking_stage li {
	display: block;
	height: 200px;
	text-align: center;
	border-bottom: 1px solid black;
	padding-top: 80px;
}

.booking_stage li:hover {
	cursor: default;
}

.booking_stage li:first-child {
	border-top: 1px solid black;
}

.booking_stage li:first-child:hover, .booking_stage li:nth-child(2):hover {
	background-color: #4d4d4d;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.booking_stage li:nth-child(3) {
	background-color:#4d4d4d;
	color: white;
	font-weight: bold;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 결제수단 선택 영역 */
.booking_payment {
	width: 1110px;
	height: 800px;
	float: left;
}

/* 상단 제목 */
.booking_title {
	margin: 0;
	height: 60px;
	padding-top: 17px;
	background-color: #4d4d4d;
	text-align: center;
	font-weight: bold;
	color: white;
}

.booking_title:hover {
	cursor: default;
}

/* 하단 영역 */
.booking_body {
	width: 1110px;
	height: 740px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 좌측 선택 영화 영역 */
.chosen_film {
	width: 30%;
	height:740px;
	float: left;
}

.chosen_film > img {
	display: block;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

.chosen_detail {
	width: 250px;
	margin: auto;
}

.detail_title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.detail {
	font-size: 15px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 우측 결제 영역 */
.choose_payment {
	width: 70%;
	height:740px;
	float: left;
	background-color: #eee;
}

/* '최종 결제수단 선택' */
.choose_payment h2 {
	margin-top: 70px;
	text-align: center;
	font-weight: bold;
}

/* 결제수단 선택 버튼 영역 */
.payment_radio {
	width: 60%;
	margin: auto;
	margin-top: 40px;
}

/* 라디오 선택 동그라미 삭제 */
input[type="radio"] {
	-webkit-appearance: none;
}

.payment_radio label {
	display: inline-block;
	width: 120px;
	margin: 10px;
	padding: 10px;
	border: 3px solid black;
	text-align: center;
	transition: 0.5s;
}

.payment_radio label:hover {
	cursor: pointer;
}

.payment_radio i {
	font-size: 50px;
	text-align: center;
}

.payment_radio span {
	font-size: 18px;
	text-align: center;
}

/* 네모 영역을 라디오 버튼 영역으로 설정 */
input[type="radio"]:checked+label {
	background-color: black;
	color: #eee;
}

.choose_payment h3 {
	margin-top: 130px;
	text-align: center;
	font-weight: bold;
}

.payment_btn {
	margin-top: 30px;
	margin-left: 230px;
}

.payment_btn > .btn {
	text-align: center;
	width: 150px;
}

.btn.to_void {
	background-color: #fff;
	border: 2px solid #000;
}

.btn.to_pay {
	background-color: #b3b3b3;
	border: 2px solid #000;
	margin-left: 20px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* float 마감제 */
.clear {
	content: '';
	display: block;
	float: none;
	clear: both;
}