@charset "utf-8";

#content {
    width: auto;
    min-height: 850px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#body {
    width: 900px;
    min-height: 850px;
    float:left;
}

.fas{
	padding-bottom:30px;
	font-size:40px;
}
.sidebar {
    width: 250px;
    min-height: 850px;
    float: left;
    border-right: 1px solid black;
    margin-right: 20px;
    margin-top:-20px;
    margin-left:-20px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.sidemenu {
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 35px;
}

.sidemenu ul {
    width: 100%;
}

.sidemenu ul li {
    border-top: 1px solid #ddd;
}

.sidemenu ul li a {
    display: block;
    padding: 0px 10px;
    width: auto;
    color: #222;
    line-height: 40px;
}

.sidemenu ul li a:hover {
    background-color: #eee;
    }


.reqmsg{
    text-align:center;
    position:relative;
    top:150px;
    left:50px;
}
.reqmsg p{
    font-size:20px;
    font-family: "맑은 고딕", verdana, san-serif;
}

input[type='password']{
    width:300px;
    height:33px;
    border-radius:5px;
    border:1px solid #adadad;
}

.mainbutton{
	position:relative;
	top:240px;
	text-align:center;
	left:50px;
}

.mainbutton .btn{
	background-color:#222;
	color:white;
}
