@charset "utf-8";

#content {
    width: auto;
    min-height: 850px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#body {
    width: 900px;
    min-height: 850px;
    float:left;
}

.fas{
	font-size:40px;
	color:#897944;
}

.sidebar {
    width: 250px;
    min-height: 850px;
    float: left;
    border-right: 1px solid black;
    margin-right: 20px;
    margin-top:-20px;
    margin-left:-20px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.sidemenu {
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 35px;
}

.sidemenu ul {
    width: 100%;
}

.sidemenu ul li {
    border-top: 1px solid #ddd;
}

.sidemenu ul li a {
    display: block;
    padding: 0px 10px;
    width: auto;
    color: #222;
    line-height: 40px;
}

.sidemenu ul li a:hover {
    	background-color: #eee;
    }


.bodytop {
    border-bottom: 1px dotted #222;
    height: 70px;
    width: auto;
    padding: 8px;
    padding-bottom: 100px;
}

.bodytop h3 {
    color: #222;
    position: absolute;
}

.board{
    margin-left:80px;
    margin-top:50px;
}

.board thead{
	background-color:#6e6e6e;
	color:white;
}

.inqbutton{
	float:right;
	padding-top:15px;
}
.inqbutton .btn{
	width:100px;
	height:40px;
	background-color:#6e6e6e;
	color:white;
}