@charset "utf-8";

#content h2 {
        margin-top: 100px;
        padding-left: 130px;
        font-size: 30px;
    }

    #pwEmail {
        width: auto;
        height: 600px;
        border-top: 5px solid #eee;
        border-bottom: 5px solid #eee;
        margin-bottom: 140px;
        padding-top: 200px;
        text-align: left;
        font-weight: bold;
    }

    #pwEmail .info {
        width: 500px;
        height: 80px;
        margin: auto;
        font-size: 19px

    }
    #pwEmail .variCode{
        width: 500px;
        margin:auto;
    }
    #pwEmail .variCode form{
        width:400px;
        display:inline-block;
    }
    #pwEmail .variCode label{
        width:150px;
        text-align:center;
        font-size:20px;
    }
    #pwEmail .variCode input{
        width:200px;
        height:35px;
        border-radius:5px;
        border:1px solid grey;
    }

    #pwEmail .variCode button{
        width:100px;
    }

    #pwEmail .nomail {
        width: 500px;
        margin: auto;
        margin-top: 20px;
    }

     #pwEmail .nomail p{
        width:250px;
        text-align:center;
        color:grey;
        font-size: 15px;
        float:left;
        margin-top: 5px
     }
    #pwEmail .nomail .btn {
        display:block;
        margin-left: 10px;
        margin-right: 10px;
        width: 200px;
        height: 30px;
        float:left;
        /*margin-left:30px;*/
    }

    .nomail:after{
        content:" ";
        float:none;
        clear:both;
        display:block;
    }