@charset "utf-8";
#content h2 {
        margin-top: 100px;
        padding-left: 130px;
        font-size: 30px;
    }

    #lgininfo {
        width: auto;
        height: 600px;
        border-top: 5px solid #eee;
        border-bottom: 5px solid #eee;
        margin-bottom: 140px;
        padding-top: 200px;
        text-align:center;
    }

    #lgininfo .info{
        width:600px;
        height: 100px;
        margin:auto;
        font-size: 25px


    }
    #lgininfo .loginbt {
        width: 290px;
        margin: auto;

    }

    #lgininfo .loginbt .btn {
        display: inline-block;
        margin-left:10px;
        margin-right:10px;
        width: 120px;
        /*margin-left:30px;*/
    }
