@charset "UTF-8";

.content .content1 ul {
        /*border:1px solid #eee;*/
        width: 70%;
        margin: auto;
        margin-top:30px;
    }

    .content .content1 ul li {
        float: left;
        width: 25%;
        text-align: center;
        list-style:none;


    }
    
.content ul li a{
	color:#222;
	font-size:18px;
	font-family:"Jua", sans-serif;
	display:block;
	margin:auto;
}

    .content ul:after {
        display: block;
        content: '';
        float: none;
        clear: both;
    }

    .newsName {
        margin-top: 40px;
        text-align: center;
    }

    .newsName h2 {
        color: darkorange;
        margin-bottom: 20px;
    }

    .newsName{
        color:#222;
        text-align: center;
        margin-top:50px;
    }

    .king-row {
        /*border: 1px solid #f6f;*/
        width: 85%;
        margin: auto;
        margin-top: 50px;
    }

    .thumbnail {
        height: 400px;
    }

    /*썸네일 내부의 이미지 크기 고정*/
    .thumbnail img {
        max-height: 300px;
    }

    .king-row:after {
        display: block;
        content: ' ';
        float: none;
        clear: both;
    }

    .pagination{
    margin-left:430px;
    }