@charset "UTF-8";

.container{
min-height:1000px;
}
*{
list-style:none;
}


/*평점주기*/
    .starR{
      background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
      background-size: auto 100%;
      width: 30px;
      height: 30px;
      display: inline-block;
      text-indent: -9999px;
      cursor: pointer;
    }
    .starR.on{
        background-position:0 0;
    }

    .movie-poster{
    	
        color:#222;
        margin-left:300px;

    }
    .movie-poster span img{
        float:left;
        width:300px;
        height:300px;
        margin-top:-30px;
        margin-right:30px;
    }
    .movie-poster span img:after{
        content: '';
        display: block;
        float:none;
        clear:both;
    }
    .movie-explain span:first-child{
        font-size:20px;
        display: inline;
    }
    .movie-explain span:nth-child(2){
        display: inline;
    }

    .movie-explain span{
        display: block;
        margin-top:15px;
    }

    .movie-explain{
        margin-top:50px;
    }
    .movie-totalExplain{
        margin-top:30px;
    }
    
    .movie-explain input{
    	margin-top:-10px;
    }

	.movie-etc{
		margin-top:8px;
	}
    .movie-etc input{
        margin-top:3px;
        margin-right:5px;
    }
    
    .change-poster{
    	margin-top:50px;
    }
    
    .starRev{
         display: block;
    	float: right;
    	margin-right: 25px;
    }

    .movie-summary{
        color:#222;
        margin-left: 300px;
    }

    .movie-summaryText{
        width:800px;
    }

    table{
        border-bottom: 1px solid #eee;
        width:500px;
        height:400px;
        color:#222;
        margin:auto;

    }
    table th{
        text-align: center;
        font-size:20px;
        color:blue;
    }
    .staticPicture img{
        width:500px;
        height:300px;
        margin-top:-30px;
    }
    .staticPicture td:first-child{
        padding-right:30px;
    }

    .movie-advice{
        width:800px;
        height:150px;
        margin:auto;
        color:#222;
        margin-bottom: 50px;
    }
    
    .movie-advice button{
    margin-top:10px;
    font-size:16px;
    font-weight:bold;
    }
    .movie-advice button:after{
        content:' ';
        display: block;
        float:none;
        clear:both;
    }
    .movie-advice .starRev{
    	margin-top:10px;
    }
	
	.oneLine{
		min-height:600px;
	}
    .movie-comment{
        width:700px;
        min-height:450px;
        margin: auto;
        color:#222;
    }

    .movie-comment button{
    	margin-top:5px;
    	margin-bottom:5px;
        font-size:16px;
        font-weight:bold;
    }
    .movie-comment button:after{
        content:' ';
        display: block;
        float:none;
        clear:both;
    }
    
    .movie-comment .starRev{
    margin-top:5px;
    }
    
    .pulldate{
    	font-size:10px;
    }
    
    
    
    .pageUpbutton{
    	margin-top:50px;
    	width:600px;
    	
    }
    
    .pageUpbutton button{
    	font-weight:bold;
    	color:#222;
    }