@charset "UTF-8";

.container{
min-height:1000px;
}
li{
list-style:none;
}
.content1{
margin-top:20px;
margin-bottom:30px;
}

.content .content1 ul {
        /*border:1px solid #eee;*/
        width: 70%;
        margin: auto;
    }
    
    .content1 ul li{
    margin-top:20px;
    width:25%;
    float:left;
    text-align:center;
    }
    
    .content1 ul li a{
    color:#222;
    font-size:18px;
    font-family:'Jua', sans-serif;
    display:block;
    margin:auto;
    }

    .content ul:after {
        display: block;
        content: ' ';
        float: none;
        clear: both;
    }



.form-search{
      width:80%;
      text-align:center;
      margin-left:150px;
      margin-top:50px;
      /*border:1px solid #eee;*/
}
.form-search .checkbox{
      width:20%;
      font-size:20px;
      color:#222;
    }

.search{
      margin-top:180px;
    }
.search h1{
      text-align: center;
      color:#222;
}
.search .input-group{
      /*border: 1px solid #6f6;*/
      width:30%;
      margin: auto;
      margin-bottom:50px;
}
    
.search-result{
	color:darkgray;
  width:auto;
  margin-left:70px;
  margin-bottom:30px;
}

.page-header{
	border:0;
}

    .king-row{
        margin-top:100px;
        min-height:300px;
    }

    .king-row h4{
        text-align: center;
    }