@charset "utf-8";

#content {
    width: auto;
    min-height: 850px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#body {
    width: 900px;
    min-height: 850px;
    float:left;
}

.sidebar {
    width: 250px;
    min-height: 850px;
    float: left;
    border-right: 1px solid black;
    margin-right: 20px;
    margin-top:-20px;
    margin-left:-20px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.sidemenu {
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
    margin-top: 35px;
}

.sidemenu ul {
    width: 100%;
}

.sidemenu ul li {
    border-top: 1px solid #ddd;
}

.sidemenu ul li a {
    display: block;
    padding: 0px 10px;
    width: auto;
    color: #222;
    line-height: 40px;
}

.sidemenu ul li a:hover {
    	background-color: #eee;
    }

.bodytop {
    border-bottom: 1px dotted #222;
    height: 70px;
    width: auto;
    padding: 8px;
    padding-bottom: 100px;
}

.bodytop h3 {
    color: #222;
    position: absolute;
}

.oftentheater {
    font-size: 11px;
    position: relative;
    float: right;
    margin-top: -13px;
    border:2px solid #222;
}


.oftentheater td {
    height: 28px;
    width: 140px;
    border: 1px dashed #222;
    padding-left: 4px;
}

.oftentheater td a {
    color: black;
}

.oftentheater td a:hover {
    text-decoration: none;
}

.oftentheater tr td img{
	float:right;
	width:15%;
	padding-right:5px;
	opacity:0.6;
}

.bodycenter {
    height: 340px;
    position: relative;
    margin-top: 30px;
    border:1.5px solid #808080;
    border-radius:8px;
    padding-top:10px;
}

.bodycenter h4{
	font-size:25px;
}

.row {
    padding-left: 200px;
}

.row h5 {
    text-align: center;
    line-height:0.7;
}

.thumbnail {
    margin-top: 20px;
    margin-right: 50px;
    width:160px;
    height: 250px;
}

.thumbnail img {
    width: 100%;
    height: 200px;
    opacity:0.8;
}

.thumbnail img:hover{
	opacity:0.5;
}

.centertitle {
    text-align: center;
}

.bodycenter button {
    position: absolute;
    bottom: 19px;
    right: 80px;
}

.bodybottom {
    height: 340px;
    position: relative;
    margin-top: 30px;
    border:1.5px solid #808080;
	border-radius:8px;
	padding-top:10px;
}

.bodybottom h4{
	font-size:25px;
}

.bodybottom h5{
	font-weight:bold;
}

.bodybottom button {
    position: absolute;
    bottom: 19px;
    right: 80px;
}