@charset "UTF-8";

li{
list-style:none;
}
.containerHeight{
min-height:1000px;
}
.content1 {
margin-top:20px;
}

.content1 ul{
	width:80%;
	margin:auto;
}

.content1 ul li{
	margin-top:20px;
	width:25%;
	float:left;
	text-align:center;
}

.content ul li a{
	color:#222;
	font-size:18px;
	font-family:"Jua", sans-serif;
	display:block;
	margin:auto;
}

.content1:after{
	display:block;
	content:' ';
	clear:both;
	float:none;
	
}
.list_title{
    margin-top:40px;
    text-align: center;
}
.list_title h2{
    color:red;
    margin-bottom:20px;
    font-weight:bold;
}
.list_title ul {
	width:30%;
	margin:auto;
}

.list_title ul li{
	float:left;
	margin:auto;
	width:45%;
}

.list_title ul li:nth-child(1){
	border-right:2px solid #222;
}
.list_title ul li a{
	font-family:'Jua', sans-serif;
	font-size:16px;
	color:#222;
}

.list_title:after{
	display:block;
	content:' ';
	clear:both;
	float:none;
}

.content .clearfix{
    width:90%;
    margin: auto;
}
.king-row{
    /*border: 1px solid #f6f;*/
    width:85%;
    margin:auto;
    margin-top:50px;
}

.thumbnail {
        height: 400px;
    }

/*썸네일 내부의 이미지 크기 고정*/
.thumbnail img {
    max-height: 300px;
 }

 .king-row:after{
    display: block;
    content: '';
    float:none;
    clear:both;
 }
 
 .king-row .img-responsive{
 
 height:auto;
 max-height:200px;
 min-width:210px;
 margin:auto;
 
}

.plusbutton{
	margin-bottom:10px;
    text-align: center;
}
