@charset "UTF-8";

.container{
min-height:1000px;
}
li{
list-style:none;
}
.content1{
margin-top:20px;
}

.content1 ul{
	width:80%;
	margin:auto;
}

.content1 ul li{
	margin-top:20px;
	width:25%;
	float:left;
	text-align:center;
}

.content ul li a{
	color:#222;
	font-size:18px;
	font-family:"Jua", sans-serif;
	display:block;
	margin:auto;
}

.content1:after{
	display:block;
	content:' ';
	clear:both;
	float:none;
	
}
    
    .statistics h2{
        font-size:40px;
        color:blue;
        text-align: center;
        margin-top:50px;
        /*border: 1px solid #eee;*/
    }

    .statistics-check{
        margin-top:30px;
        color:#222;
        text-align: right;
    }

    .statistics img{
        width:1200px;
        height:600px;
        margin-left:20px;
        
    }
