@charset "UTF-8";

.container{
min-height:1000px;
}
li{
list-style:none;
}

.statistics h2{
      font-size:40px;
      color: blue;
      text-align: center;
      margin-top:50px;
        /*border: 1px solid #eee;*/
}

.statistics-check{
      margin-top:30px;
      color:#222;
      text-align: right;
}

.statistics img{
      width:1200px;
      height:600px;
      margin-left:20px;
}

/*사이드 바*/

.icon-bar {
  position: fixed;
  top: 50%;
  margin-right:0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right:calc(50% - 723px); /* right:calc(50% - social bar width/2) */
  border : 2px solid #222;
  border-radius : 10px;
  
 
}

@media screen and (max-width:920px){
.icon-bar {
  display: none;
  }
} 


.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 16px;
  text-decoration: none; 
  font-weight: bold;
  margin:2px;
  
}


.icon-bar a:hover {
  background-color: #edb9c3;
}

.side-boxoffice {
  background: white;
}

.side-moviesearch {
  background: white; 
}

.side-movienews {
  background: white; 
}

.side-statistics {
  background: white;
}

/*사이드바 아이콘*/
.fas, .far{
	display:block;
	font-size:50px;
	font-weight:800;
}