@charset "UTF-8";

.sidebar {
        width: 200px;
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
        float: left;
        margin-top: 20px;
    }

    .sidebar li a {
        display: block;
        width: auto;
        color: #000;
    }