@charset "UTF-8";

    #contents { width: 100%; margin: 0 auto; }

    .row { margin-top: 30px; }
    
    .content { width: 900px; min-height: 300px; margin: 25px 0px 50px 30px; padding-left: 15px; float: left; }
    .content h2 { margin-bottom: 20px; padding-bottom: 10px; font-size: 28px; font-weight: bold; }
    .content h3 { padding: 0px 10px 10px 0px; font-size: 22px; font-weight: bold; }
    .content p { font-size: 16px; }
    
    .support_title { margin-bottom: 40px; }

    .service { width: 100%; padding-bottom: 20px; border-bottom: 1px solid #eee;}
    .service_list { height: 200px; margin-top: 20px; }
    .service_list li { margin: 5px 25px 0px 5px; float: left; line-height: 50px; }
    .service_list li a { display: block; width: 190px; height: 180px; font-size: 17px; font-weight: bold; color: #222; text-align: center; }
	.service_list li i { font-size: 100px; color:#897944; }  

    a:link { text-decoration:none; }

    .notice_wrap { border-bottom: 1px solid #cacac1; margin-bottom: 20px; padding-bottom: 50px; }
    .notice_wrap h3 { border-bottom: 1px solid #000; }
    
    .more { width: 60px; height: 22px; color: #222; font-size: 14px; line-height: 200%; }

    .pre { width: 400px; margin-left: 15px; padding: 0 0 10px 0; border-bottom: 1px solid #eee; }
    
    .btn-link { padding: 0; color: #222; }
    
    .on > a { background-color:#e71a0f; }