@charset "UTF-8";

    /* 페이지 버튼 */
    .Page.navigation {
        position: relative;
        margin: 0 auto;
        padding: 30px 0px 0px 0px;
        text-align: center;
        color: #222;
    }
    
	.Page.navigation a {
		color: #222;
	}    

    .Page.navigation a:active {
        color: #fff;
        background-color: #01738b;
        border-color: #01738b
    }

    .Page.navigation a:hover {
        border: 2px solid #01738b;
        color: #01738b
    }
    
	/* 목록으로 버튼 */    
        .list_button {
        width: auto;
        height: 100px;
    }