@charset "UTF-8";

    /* 검색 버튼 */
    .search {
        margin: 20px;
    }

    .search_result {
        margin: 20px;
    }

    .table_area {
        text-align: center;
    }

    /* 글 목록 */
    table {
        width: 100%;
        line-height: 80%;
        margin-bottom: 40px;
    }

    thead {
        display: table-header-group;
        border-bottom: 2px solid #eee;
    }

    th {
        height: 35px;
        text-align: center;
    }

    td {
        display: table-cell;
        vertical-align: inherit;
        border-bottom: 1px solid #eee;
        padding: 12px;
        font-size: 15px;
    }
